* {
    box-sizing: border-box; 
}

html {
    max-width: 1500px;
    margin: auto;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    margin: -1em;
    margin-right: -3em;
    padding-top: 2.5em;
}

.rating {
    margin-left: 2em;
}

p.phrase{
    display: none;
    text-align: center;
    margin-top: 1em;
}

#first{
    display: flex;
    margin-left: 1em;
}

.releases {
    padding-left: 1em;
    height: 5em;
    overflow-y: scroll;
    width: 115%;    
}

.awards{
    padding-left: 1em;
    height: 5em;
    overflow-y: scroll;
    width: 115%;    
}

div#info{
    margin-top: 5em;
    margin-left: 2em;  
    display: flex;  
    justify-content: space-between;
} 

.profile {
    margin-right: 2em;
    height: 10em;
}

.poster{
    margin-top: 2em;
    width: 10em;
    align-self: left;
}

.video {
    width: 370px; 
    height: 250px;
}

.plot {
    margin-left: 1em;
    margin-top: 1em;    
    text-align: justify;
}

div.dir {
    margin-top: 1em;
    margin-left: 1em;    
    display: flex;
    justify-content: space-around;
}


.cast{
    margin-top: 2em;  
}

div#cast {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    text-align: center;
    padding-top: 2em;
    padding-left: 1em;
    height: 22em;
}


@media only screen and (min-width: 400px) {
    .awards{
        width: 100%;
    }
    .releases{
        width: 100%;
    }
}

@media only screen and (min-width: 500px) {
    p.phrase{
        display: block;
    }
    .middle{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .main{
        margin-right: 1em;
    }
    
    .awards{
        height: 22em;
    }
    .releases{
        height: 22em;
    }
    .video {
        width: 500px; 
        height: 350px;
    }
}

@media only screen and (min-width: 800px) {
    .poster{
        margin-top: -5em;
        width: 15em;
    }
    .rating{
        float: right;
    }
    p.phrase{
        margin-top: 3em;
    }
    .info{
        width: 40em;
    }
    .side{
        margin-top: 1em;
    }
    .video {
        width: 650px; 
        height: 450px;
    }
    .reviews{
        margin-left: 3em;
        margin-right: 3em;        
        width: 100%;
    }
    .cast{
        margin-left: 3em;
        margin-right: 3em;        
        width: 100%;        
    }
    #first{
        margin-left: 3em;        
    }
    .middle{
        margin-left: 3em;        
    }
}

@media only screen and (min-width: 1500px) {
    .middle{
        margin-left: 3em;
    }
    .dir{
        margin-top: 3em;
    }
} 