* {
    box-sizing: border-box; 
}

html {
    max-width: 1500px;
    margin: auto;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    margin: -1em;
    padding-top: 2.5em;
}

.row{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    margin-right: 5em;
}

div#intton{
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p.phrase{
    text-align: center;
    margin-top: 3em;
}

div#info{
    margin-top: 5em;
    margin-left: 2em;  
    display: flex;  
    justify-content: space-between;
}

/* div#rating{
    
} */

.data{
    margin-left: 5em;
} 

.profile {
    width: 10em;
    height: 12em;
}

.poster{
    margin-top: -5em;
    width: 15em;
}

div#plot {
    margin-left: 5em;
    max-width: 80%;
    text-align: justify;
}

/* div#releases {
    display: flex;

} */

div.dir {
    margin-top: 3em;
}

div#cast {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    text-align: center;
    padding-top: 2em;
    padding-left: 1em;
}

.cast {
    max-width: 80%;
    margin-top: 3em;
}

div.char {
    margin-right: 2em;
}

.reviews{
    margin-top: 2em;
    margin-left: -2em;
    padding-left: 5em; 
    padding-top: 3em;
    padding-bottom: 3em;       
}

div.review {
    max-width: 80%;
    text-align: justify;
}

div#awards{
    margin-top: 2em;
    overflow-y: scroll;
    height: 20em;
}

section#middle{
    margin-top: 3em;
}