h1 {
    background-image: url(../img/milky-way.jpg);
    background-attachment: fixed;
    color: white;
    font-family: 'Roboto Slab', serif;
    height: 5em;
    font-size: 4em;
}

h2 {
    font-family: 'Roboto Slab', serif;
}

div.info{
    margin-left: 1em;
    margin-top: 2em;
}

/* Starts code for the star rating  */
.m_pro{
  width: 10em;
}

button{
  height: 3.5em;
  width: 100%;
}

div.rating{
    color: white;
}

p.phrase{
    color: #6c757d;
    font-style: italic;
    font-size: 1.5em;
}

.awards{
    background-color: #e1eff2;
}

#cast{
    background-image: url(../img/milky-way.jpg);
    background-attachment: fixed;
    color: white;
    font-family: 'Roboto Slab', serif;   
    width: 115%;    
}

div#main{
    border-right: 1px solid #6c757d;
}

.releases{
    background-color: #f7e495;    
}

.reviews{
    background-color: #17abcd;
    color: white;
    margin-top: 1em;    
    text-align: justify;
    width: 115%;
    padding-right: 1em;
    padding-left: 1em;    
}
